body {
  min-width: 450px;
  padding: 0.5rem;
  white-space: nowrap;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
}
.app-column {
  margin-bottom: 0.5rem;
}
td {
  font-size: 13px;
}
td.value {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inconsolata, Fira Code, Courier;
  font-size: 12px;
}
td.value:hover {
  overflow: auto;
  text-overflow: initial;
}

summary::-webkit-details-marker {
  display: none;
}
summary:after {
  background: #ddd;
  border-radius: 3px;
  content: "+";
  color: #555;
  float: left;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2;
  margin: 0.15em 0.6em;
  margin-left: 0;
}
details[open] summary:after {
  content: "-";
}
